<p>parent-form works!</p>
<lib-angular-reactive-form-generator [formMetaDataWithSections]="parentFormServiceService.getFormMetaDataWithSections()"
                                     [formMetaData]="parentFormServiceService.getFormMetaData()"
>
</lib-angular-reactive-form-generator>
<button (click)="getData()" color="primary" mat-raised-button> print form</button>
<button (click)="parentFormServiceService.disableForm()" color="primary" mat-raised-button> disable form</button>
<button (click)="parentFormServiceService.enableForm()" color="primary" mat-raised-button> enable form</button>
